<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" href="css/user.css"> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <style>
        *{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: rgb(4, 4, 29);
}
.inner_content{
    background: rgb(6, 36, 6);
    width:100%;
    height:50em;
    border:2px solid white;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* margin-left: 30px; */
}
.nav_tab{
    width:30%;
    height:100%;
    border:2px solid black;
    color:white;
    background-color: rgb(60, 13, 13);
    
}
.all{
    width:100%;
    height:22em;
    background-color: gray;
    /* align-items: center; */
    display: flex;;
    flex-direction: column;
}
.image_and_desc{
    width:14em;
    height:14em;
    width:60%;
    margin-left:20%;
    border:2px solid black;
    margin-top:10px;
    border-radius: 50%;
    background: url('/img/all phones/1 (4).jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.content_sec{
    width: 70%;
    /* border:2px solid red; */
    height:100%;
    /* margin-left:2em */
}
.little_desc{
    font-size:2em;
    /* border:2px solid black; */
    margin-left:1em;
    margin-top:1em
}
.logout a{
    margin-left:1.3em;
    font-size: 1.3em;
    text-decoration: none;
    color:rgb(237, 104, 3)
}
ul{
    /* border:2px solid black; */
     margin-left: 10px
}
li{
   padding: 5px;;
    list-style-type: none;
}
li a{
    text-decoration: none;
    font-size: 1.6em;
}
.big_header{
    width: 100%;
    height:20%;  
    border:2px solid black;
    margin-top:4px;
    background:yellowgreen
}
.big_header h1{
    color:antiquewhite;;
    padding-left: 16px;
    padding-bottom: 5px;
}
.big_header p{
    font-size: 1.5em;
    padding-left: 16px;
}

.each_body{
    width:100%;
    height:81%;
    /* border:2px solid blue; */
    display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
}
.buy_now_div{
    width:100%;
    height:19%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.each_indiv{
    width:10em;
    height:14em;
    border:0.05px dashed yellow;
    margin-right:10px;
    margin-top: 5px;
    margin-left: 5px;
    color:white;
    display: flex;;
    flex-direction: column;
    align-items: center;
}
.image_indiv{
    width:100%;
    height:60%;
    /* border:2px solid red */
}
.cart_name{
    font-size: 26px;
    color:rgb(106, 106, 183)
    /* padding-left:2px;
    padding-top:1px */
}
.cart_price{
    font-size:18px ;
    /* padding-left:2px;
    padding-top:1px */
}
.cartVal{
    width:4em;
    height:2em;
    color:blue;
    background:orange;
    border:2px solid black;
    /* margin-left: 5px; */
    margin-top:2px
}
.all_buttons{
    width:100%;
    display: flex;;
    flex-direction: column;
    align-items: center;
}
.all_buttons button{
    font-size: 10px;
    padding:8px;
    margin-bottom:2px;
    border-radius: 5px;
  cursor: pointer;
  width:10em
}

/* .buy{
    background-color: rgb(24, 177, 24);
    color:white
} */
.delete{
    background-color: rgb(24, 177, 24);
    color:white
}
.delete:hover{
    background-color: rgb(192, 27, 27);
    color:white;  
}
/* .section{
    display: flex;
    flex-direction: column;
} */
.text_cont{
    display: flex;
    flex-direction: column;
    border:2px solid white;
    align-items: center;
    height:69%;
    font-size: 30px;
    color:white;  
}
.buy_now_div a button{
    width:10em;
    background-color: rgb(162, 177, 24);
    color:white;
    height:35px;
    border-radius: 5px;
    cursor:not-allowed;
}
.dummy_stuff{
    display: flex;
border:1px dashed black;
justify-content: center;
align-items: center;
background-color: rgb(30, 51, 51);
height:6%;
margin-top: none;
width:99%;
margin-left: 0;
color:antiquewhite;
font-family: 'Courier New', Courier, monospace;
font-size: 20px;
padding:10px;
display:none
}
.dummy_stuff .logout{
    /* margin-left:1em; */
    font-size: 1em;
   
}

@media (max-width:427px){
    .dummy_stuff{
        display:flex
    }
    .nav_tab{
       display: none;
    }
    .little_desc{
    margin-top:1px;
    font-size:1em;
    /* border:2px solid black; */
    /* margin-left:0.3em; */
}
    .inner_content{
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        /* justify-content: center; */
    }
    .content_sec{
        width: 100%;
        height:94%
    }
}
.buy_now_div a button:hover{
    background-color: yellowgreen;
}

.total_title{
    color:rgb(221, 153, 26)
}
.total_price{
    color:rgb(153, 101, 6);
    font-size:27px;
    font-family: 'Courier New', Courier, monospace;
}
    </style>
    
</head>
<body>
        <div class="inner_content">
     <div class="little_desc dummy_stuff">
                Hello User!  
                <!-- <br>
                <br> -->
                
                <i class="logout"><a href="./home">Home</a></i><i class="logout"><a href="./logout">Logout</a></i> 
            </div>
            <div class="nav_tab">
                <div class="all">
                    <div class="image_and_desc">
                        
                    </div>
                    <div class="little_desc">
                        Hello User!
                    </div>
                    <i class="logout"><a href="./logout">Logout</a></i> <i class="logout"><a href="./home">Home page</a></i>
                </div>
                <ul>
                    <li><a href="#">Cart items</a></li>
                    <li><a href="#">My orders</a></li>
                </ul>
            </div>
           <div class="content_sec">
          
            
               <div class="each_body">
                <!-- <div class="each_indiv">
                    <div class="image_indiv"></div>
                    <div class="cart_name"></div>
                    <div class="cart_price"></div>
                    <input type="number" name="cartNum" value="20" class="cartVal">
                    <div class="all_buttons">
                        <button class="delete">REMOVE ITEM</button>
                    </div>
                    </div> -->
                   
                <%items.forEach(elements=>{  %>
                   <div class="each_indiv">
                    <img class="image_indiv" src="<%=elements.img%>"></img>
                    <div class="cart_name"><%=elements.name%></div>
                    <div class="cart_price"><%=elements.price%></div>
                    <div class="cart_price"><%=elements.quantity%> Items</div>
                    <!-- <div class="all_buttons">
                        <button class="delete">REMOVE ITEM</button>
                    </div> -->
                    </div>  
                <%  }); %>
                   
                   
               </div>
               <div class="buy_now_div">
                <div class="text_cont">
                    <h4 class="total_title">Total items: <span class="total_price"><%=counterQ%></span></h4>
                <h4 class="total_title">Total amount: <span class="total_price">$<%=counterP%></span></h4>
                
                </div>
                <a><button>Proceed to payment</button></a>
        
        </div>
           </div> 
            </div>
       
</body>
</html>